@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Nunito:wght@400;500;700&display=swap&family=Raleway:wght@400;500;700');
@import "tailwindcss";

@theme {
  /* colors */
  --color-main-background: #F9FAFF;
  --color-main-yellow: #FDC435;
  --color-font-big-title: #25282B;
  --color-font-paragraph: #828282;
  --color-card-background: #FFFFFF;
  
  /* shadows */
  --shadow-card : 0px 6px 64px 0px #7090B01A;

  /* fonts */
  --font-main-title-font: "Poppins", sans-serif;
  --font-medium-title-font: "Playfair Display", serif;
  --font-small-title-font: "Playfair Display", serif;
  --font-paragraph-font: "Nunito", sans-serif;
  --font-header: "Raleway", sans-serif;
}

body {
  background-color: var(--color-main-background);
}

h1 {
  font-family: var(--font-main-title-font);
  color: var(--color-font-big-title);
}

h2 {
  font-family: var(--font-medium-title-font);
  color: var(--color-font-big-title);
}

h3 {
  font-family: var(--font-small-title-font);
  color: var(--color-font-big-title);
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}